*.sh text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.py text eol=lf
Kconfig text eol=lf
Makefile text eol=lf
Make.defs text eol=lf
startup/etc/** text eol=lf
*.msg text eol=lf
.gitattributes text eol=lf
